.profile-pic{
  max-width:60%;
  height:auto;
}

.name{
  font-weight: 800;
}

ul{
  list-style-type: none;

}

.artist-listing{
  display: flex;
  justify-content: space-around;
  padding-top:4rem;
  margin-left: 6rem;

}

.artist-card{

}
